<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/task/<%=task._id%>?_method=PUT" method="post" class="update">
        <h1>Update Task</h1>
        <label for="task" class="h">Enter Task :- </label>
        <input type="text" name="task" id="task" value="<%= task.task %>"><br><br>
        <label for="status" class="h">Status :- </label>
        <input type="text" name="status" id="status" value="<%= task.status %>"><br><br>
        <button type="submit" class="delete1">Update task</button>
    </form>
</body>
</html>